.pro-cyan {
    color: #009fda;
}

.light-pro-cyan {
    color: #45bbe6;
}

.teal {
    color: #00998F;
}

.dark-grey {
    color: #21343D;
}

.grey {
    color: #374C57;
}

.light-grey {
    color: #5B7380;
}

.slate {
    color: #94A7B0;
}

.silver {
    color: #C3D0D6;
}

.off-white {
    color: #F5F8FA;
}

.white {
    color: #FFFFFF;
}

.green {
    color: #4bbd4b;
}

.dark-green {
    color: #41a341;
}

.blue-grey {
    color: #25495c;
}

.navy {
    color: #1c638a;
}

.yellow {
    color: #ebb400;
}

.SATitleDisplay {
    font-size: 6rem;
    letter-spacing: -1.0px;
    color: #21343D;
    font-weight: bold;
}

.SATitlePage {
    font-size: 3.6rem;
    font-weight: bold;
}

.SATitleLg {
    font-size: 2.8rem;
    font-weight: bold;
}

.SATitleMd {
    font-size: 2.2rem;
    letter-spacing: -0.2px;
}

.SATitleSm {
    font-size: 1.6rem;
    letter-spacing: -0.2px;
}

.SATextLg {
    font-size: 2rem;
    letter-spacing: -0.2px;
}

.SATextMd {
    font-size: 1.7rem;
}

.SATextSm {
    font-size: 1.5rem;
    letter-spacing: 0.2px;
}

.SATextXS {
    font-size: 1.3rem;
}

.SATitleCapsSm {
    font-size: 1.3rem;
    letter-spacing: .5px;
    text-transform: uppercase;
    font-weight: bold;
}

.SATitleCapsLg {
    font-size: 1.8rem;
    letter-spacing: 1.6px;
    text-transform: uppercase;
    font-weight: bold;
}

.SAPrimaryLink {
    color: #009FDA;
    text-decoration: none;
    font-weight: bold;
}

    .SAPrimaryLink:link {
        color: #009FDA;
        text-decoration: none;
        font-weight: bold;
    }

    .SAPrimaryLink:hover, .SAPrimaryLink:active, .SAPrimaryLink:visited {
        color: #25495C;
        text-decoration: none;
        font-weight: bold;
    }

.SASecondaryLink:link {
    color: #25495C;
    text-decoration: none;
    font-weight: bold;
}

.SASecondaryLink:hover, .SASecondaryLink:active, .SASecondaryLink:visited {
    color: #009FDA;
    text-decoration: none;
    font-weight: bold;
}

.SAPrimaryButton {
    background: #009FDA;
    border: 1px solid #009FDA;
    color: #FFFFFF;
    text-decoration: none;
    min-width: 7.5rem;
    width: auto;
}

    .SAPrimaryButton:hover, .SAPrimaryButton:focus, .SAPrimaryButton:visited {
        background: #45BBE6;
        color: #FFFFFF;
        text-decoration: none;
    }

    .SAPrimaryButton:disabled, .SAPrimaryButton[disabled] {
        background: #94A7B0;
        color: #FFFFFF;
        text-decoration: none;
        border-color: #94A7B0;
    }

.SASecondaryButton {
    background: #FFFFFF;
    color: #25495C;
    border: 1px solid #25495C;
    border-radius: 4px;
    min-width: 7.5rem;
    width: auto;
    font-weight: 600;
    letter-spacing: 1.1px;
}

    .SASecondaryButton:hover {
        background: #25495C;
        color: #FFFFFF;
        border: 1px solid #25495C;
        border-radius: 4px;
        font-weight: 600;
        letter-spacing: 1.1px;
    }

.checkbox_container {
    display: block;
    position: relative;
    padding: 8px 24px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

    /* Hide the browser's default checkbox */
    .checkbox_container input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

/* Create a custom checkbox */
.checkbox {
    position: absolute;
    top: 0;
    left: 0;
    height: 18px;
    width: 18px;
    background-color: #fff;
    border: 1px solid #C3D0D6;
    border-radius: 4px;
}

/* On mouse-over, the border darkens */
.checkbox_container:hover input ~ .checkbox {
    border: 1px solid #94a7b0;
}

/* When the checkbox is checked, add a dark grey background */
.checkbox_container input:checked ~ .checkbox {
    background-color: #374C57;
}

.checkbox_container input:checked ~ .checkbox_container:after {
    font-weight: 600;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkbox:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.checkbox_container input:checked ~ .checkbox:after {
    display: block;
}

/* Style the checkmark/indicator */
.checkbox_container .checkbox:after {
    left: 6px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}


/* The autofill background color */
::placeholder {
    color: #94A7B0;
}
